@model IEnumerable<aad_dotnet_multiple_apis.Models.UserModel>

<div class="page-header">
    <h2>Microsoft Graph</h2>
    <h4>List all users' basic profiles</h4>
</div>
<p>
    <span>
        <a href="@Url.Action("Me")" class="btn btn-default">
            <span class="glyphicon glyphicon-user"></span>
            View just me
        </a>
    </span>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPrincipalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnPremisesDomainName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnPremisesImmutableId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnPremisesSamAccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OnPremisesUserPrincipalName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPrincipalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnPremisesDomainName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnPremisesImmutableId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnPremisesSamAccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnPremisesUserPrincipalName)
            </td>

        </tr>
    }

</table>


