@model aad_dotnet_multiple_apis.Models.UserModel


<div class="page-header">
    <h2>Microsoft Graph</h2>
    <h4>Get current user's profile</h4>
</div>
    <div>
        
        
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DisplayName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DisplayName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserPrincipalName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserPrincipalName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OnPremisesDomainName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OnPremisesDomainName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OnPremisesImmutableId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OnPremisesImmutableId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OnPremisesSamAccountName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OnPremisesSamAccountName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OnPremisesUserPrincipalName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OnPremisesUserPrincipalName)
            </dd>
        </dl>
    </div>

    <p>

        <span>
            <a href="@Url.Action("Index")" class="btn btn-default">
                <span class="glyphicon glyphicon-list-alt"></span>
                Back to List
            </a>
        </span>

    </p>
