@model IEnumerable<aad_dotnet_multiple_apis.Models.StorageModel>

@{
    ViewBag.Title = "IndexView";
}

<h2>IndexView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Uri</th>
        <th>StorageUri</th>
        <th>Parent</th>
        <th>Container</th>
    </tr>

@foreach (aad_dotnet_multiple_apis.Models.StorageModel item in Model) {
    <tr>
        <td>
            @item.Uri;
        </td>
        <td>
            @item.StorageUri;
        </td>
        <td>
            @item.Parent.Uri;
        </td>
        <td>
            @item.Container.Uri;
        </td>
    </tr>
}

</table>
