<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Multiple APIs</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Many APIs", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">                
                <li>@Html.ActionLink("AAD Graph", "Index", "UserProfile")</li>
                <li>@Html.ActionLink("Microsoft Graph", "Index", "MicrosoftGraph")</li>
                <li>@Html.ActionLink("Storage", "Index", "Storage")</li>
                <li>@Html.ActionLink("Database", "Index", "Database")</li>
                <li>@Html.ActionLink("Azure Management", "Index", "ARM")</li>
                <li>@Html.ActionLink("Custom API", "Index", "Values")</li>
                <li>@Html.ActionLink("On Behalf Of", "Index", "OnBehalfOf")</li>
            </ul>
            @Html.Partial("_LoginPartial")            
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Many APIs</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
