@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ADAL Samples</h1>    
    <p class="lead">ADAL uses the v1 endpoint. This is the currently recommended library.</p>
    <p><a href="https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v1-code" class="btn btn-primary btn-lg">See more samples &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Calling APIs with a user token</h2>
        <p>
            Call out of box APIs.
        </p>
        <p>
            Call out of box APIs with granular permissions. Different services 
            handle authorization differently. AAD Graph and Microsoft Graph use
            API permissions. Azure Management and Azure Storage use RBAC, and
            Azure SQL Database uses database permissions.
            <ul>
                <li>@Html.ActionLink("AAD Graph", "Index", "UserProfile")</li>
                <li>@Html.ActionLink("Microsoft Graph", "Index", "MicrosoftGraph")</li>
                <li>@Html.ActionLink("Storage", "Index", "Storage")</li>
                <li>@Html.ActionLink("Database", "Index", "Database")</li>
                <li>@Html.ActionLink("Azure Management", "Index", "ARM")</li>
            </ul>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Register and call custom APIs.</h2>        
        <p>
            Custom APIs can be registered. The application can call the custom API
            as a daemon application (headless, no interactive user) or on behalf of the user.
            You can even register an API that calls another downstream API on behalf of the user.
            <ul>
                <li>@Html.ActionLink("Custom API", "Index", "Values")</li>
                <li>@Html.ActionLink("On Behalf Of", "Index", "OnBehalfOf")</li>
            </ul>
        </p>
    </div>
</div>